
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    border-bottom: 2px solid #444;
    border-radius: 10px;
}

.players {
    list-style: none;
    display: flex;
    gap: 20px;
}

.active {
    font-weight: bold;
    color: #ffcc00; 
    border-bottom: 3px solid #ffcc00;
}

.players li {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #555;
    color: white;
    transition: background-color 0.3s ease;
}

.players li:hover {
    background-color: #666;
}

.players li.active {
    background-color: #222;
    color: #ffcc00;
}
