

.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    background-color: #ffcc00;
    border-radius: 0 0 10px 10px;
/*     margin: 0 auto; */
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

