

.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main";
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
    background-color: #ffcc00;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

