
    
    .container-span-jogador{
        display: flex;
        justify-content: space-around;
        align-items: center; 
        width: 100%;
    
    }
    
    .container-lista{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 50%;
        border: 2px solid transparent;
        padding-bottom: 50px;

    }

    .nome-jogador{
        display: inline-block;
        width: 10rem;
        font-size: 1rem;
        color: #e1dec7;
        text-transform: uppercase;
        margin: 0;
        padding: 0.5rem;
        border-radius: 4px;
        text-overflow: ellipsis;
        text-align: center;
    }

    .active {
      border-color: #f6e35a;
      animation: pulse 2s infinite ease-in-out;
  }


  
  @keyframes pulse {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.05);
      }
      100% {
          transform: scale(1);
      }
  }


    .simbolo-jogador{
        margin-left: 1rem;
        font-size: 1rem;
        color: #e1dec7;
    }

    input {
        font: inherit;
        font-size: 1rem;
        width: 10rem;
        border: none;
        padding: 0.5rem;
        animation: pulse-text 2s infinite;
        background-color: #46432f;
        text-align: center;
        text-transform: uppercase;
        color: #949494;
      }

      .botao {
        width: 5rem;
        background: none;
        color: #c3ba78;
        border: 1px solid #c3ba78;
        font-size: 1rem;
        cursor: pointer;
        transition: color 0.2s;
        padding: 10px;
        text-align: center;
      }
      
      .botao:hover {
        color: #f8ca31;
        border: 1px solid #f8ca31;
      }
      
